name: qa

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  VERSION: 14

jobs:
  check-formatting:
    name: Check formatting
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Install dependencies
        run: sudo apt-get install clang-format-${{ env.VERSION }}

      - name: clang-format check
        run: |
          cmake_common_version="v3.4"
          script_name="project-clang-format.py"
          script_path="${{ github.workspace }}/$script_name"
          download_url="https://raw.githubusercontent.com/egor-tensin/cmake-common/$cmake_common_version/tools/$script_name"
          curl -s -o "$script_path" "$download_url"
          python3 "$script_path" --clang-format "clang-format-${{ env.VERSION }}" --style "file" --exclude "./contrib/"

  analyze:
    name: analyze
    defaults:
      run:
        shell: bash -el {0}
    runs-on: ubuntu-22.04
    permissions:
      actions: read
      contents: read
      security-events: write

    strategy:
      fail-fast: false
      matrix:
        language: ["cpp"]

    steps:
      - name: Set up miniconda
        uses: conda-incubator/setup-miniconda@v3
        with:
          python-version: 3.11
          auto-update-conda: false
          channels: andrsd,defaults

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          conda install \
            cmake=3.31.2 \
            rhash=1.4.3 \
            make \
            mpich-mpicxx \
            gtest \
            exodusii==2024.06.* \
            fmt=11.* \
            yaml-cpp==0.8.0

      - name: Configure
        run: |
          cmake -S . -B ${{ github.workspace }}/build \
            -DEXODUSIICPP_BUILD_TESTS=YES

      - name: Initialize CodeQL
        uses: github/codeql-action/init@v3
        with:
          languages: ${{ matrix.language }}

      - name: Build
        run: make -C ${{ github.workspace }}/build

      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v3

  check-spdx-tags:
    name: check spdx tags
    defaults:
      run:
        shell: bash -el {0}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: kt3k/license_checker@v1.0.6
